/************* NAVBAR *************/

.navbar {
  height: 90px;
  width: 100%;
  background-color: #0961A0;
  display: flex;
  margin-bottom: 0px;
}

.navbar-logo {
  width: 75%;
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 50%;
  width: 20%;
  padding-left: 5%;
}

.navbar-link-container {
  width: 25%;
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  padding-left: 15%;
  font-weight: 300;
}

.navbar-bottom {
  height: 10px;
  width: 100%;
  background-color: #00BFFF;
}

.background {
  z-index: 0;
  /*background-color: gray;*/
  height: 100vh;
  width: 100%;
  background: url('http://www.mapashaco.com/images/sliders/revolution/slide6.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************* INTRO BOX *************/

.intro-wrapper {
  z-index: 1;
  height: 86vh;
  width: 45%;
  background-color: white;
  position: relative;
  top: 3%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


.get-started-container {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 20%;
  margin-bottom: -2%;
}

.get-started-img {
  height: 4em;
  width: 80%;
  margin-left: 10%;
}

.what-is {
  text-align: center;
  font-size: 1.65vw;
  margin-top: -2%;
}

.what-is-hr {
  background: #00BFFF;
  width: 80%;
  height: 2px;
  border-radius: 15px;
}

.intro-text-container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.intro-text {
  font-size: .85em;
}

.intro-trait-list {
  width: 80%;
  margin: 0 auto;
}

.intro-trait {
  margin: 3px 0 3px 0;
}



/***** MEDIA QUERIES*****/
/* these will take effect below 715px width */
@media (max-width: 715px) {
  .intro-text {
    font-size: .6em;
  }
  .intro-wrapper {
    height: 90vh;
    width: 75%;

  }
}

/* ----------------------- GET STARTED PAGE -----------------------*/

.traits-background {
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.traits-header-container h2 {
  margin-top: 0px;
  padding-top: 3%;
  padding-left: 3%;
  color: white;
  font-weight: 200;
}

.traits-hr {
  width: 90%;
  margin: 0 0 2em 3%;
}

.trait-list-container {
  width: 95%;
  margin: 10px auto;
  height: 75vh;
}

/* ------------------- GET STARTED TRAIT CARD ------------------- */

.trait-container {
  width: 32%;
  height: 33%;
  display: inline-block;
  color: white;
  font-weight: 200;
}

.trait-container-img {
  width: 100px;
  height: 65%;
  background-color: lightblue;
  display: inline-block;
}

.trait-container-text {
  width: 60%;
  height: 100%;
  display: inline-block;
  padding-left: 4%;
  vertical-align: top;
}

.trait-title {
  font-weight: 500;
}

.trait-description {
  font-size: 12px;
  margin-top: 2%;
}

.trait-link {
  text-decoration: none;
  color: white;
}

/* --------------- TRAIT QUESTIONS PAGE --------------- */

.trait-questions-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.trait-questions-header {
  background-color: black;
  width: 55vw;
  padding: 15px 20px 15px 20px;
  margin-top: 1em;
  border-bottom: 2px solid #00BFFF;
}



.trait-question-header-title {
  color: white;
  font-size: 2em;
  font-weight: 200;
}

.description-container {
  width: 75%;
}

.trait-question-header-description {
  color: white;
  font-size: .9em;
  font-weight: 200;
  margin: 0;
  padding-top: 1em;
}

.QA-container {
  background-color: #fdfdfd;
  width: 55vw;
  padding: 15px 20px 15px 20px;
}
